.loader {
	width: 100px;
    margin: 0 auto;
    padding-top: 22vw;
}


.bounce-img {
  transform: scale(3);
}
.bounce-img.animation-target {
  transform: scale(1);
  transition: all 1s ease-in .5s;
}
