.scene {
    border: 1px solid #CCC;
    margin: 80px auto !important;
    position: relative;
    width: 630px;
    height: 420px;
    perspective: 1000px;
  }

  .carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateZ(-288px);
    transform-style: preserve-3d;
    transition: transform 1s;
  }

.carousel__cell {
    position: absolute;
    width: 570px;
    height: 360px;
    left: 30px;
    top: 30px;
    border: 2px solid black;
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-align: center;
    transition: transform 1s, opacity 1s;
    h2, img, p {
        margin:0;
        padding:10px;
        font-size:24px;
        a, a:visited {
            color: #557635;
        }
    }
    p {
      font-size: 18px;
    }
  }
  .carousel-options .next-button, .carousel-options .previous-button {
    position: absolute;
    top: 45%;
  }
  .carousel-options .next-button {
    right: -140px;
  }
  .carousel-options .previous-button {
    left: -140px;
  }

.carousel__cell:nth-child(9n+1) { background: rgba(  85, 118, 53, 0.9); }
.carousel__cell:nth-child(9n+2) { background: hsla( 40, 100%, 50%, 0.9); }
.carousel__cell:nth-child(9n+3) { background: rgba( 186, 219, 28, 0.9); }

.carousel__cell:nth-child(1) { transform: rotateY(  0deg) translateZ(180px); }
.carousel__cell:nth-child(2) { transform: rotateY( 120deg) translateZ(180px); }
.carousel__cell:nth-child(3) { transform: rotateY( 240deg) translateZ(180px); }
