.speaker {
	height: 30px;
	width: 30px;
	position: absolute;
	overflow: hidden;
	display: inline-block;
	z-index:999;
	left: 75px;
	top:20px;
	span {
		display: block;
	    width: 8px;
	    height: 8px;
	    background: #000;
	    margin: 11px 0 0 2px;

		&:after {
			    content: '';
			    position: absolute;
			    width: 0;
			    height: 0;
			    border-style: solid;
			    border-color: transparent #000 transparent transparent;
			    border-width: 10px 14px 10px 15px;
			    left: -13px;
			    top: 5px;
		}

		&:before {
		    transform: rotate(45deg);
		    border-radius: 0 50px 0 0;
		    content: '';
		    position: absolute;
		    width: 15px;
		    height: 15px;
		    border-style: double;
		    border-color: #000;
		    border-width: 7px 7px 0 0;
		    left: 15px;
		    top: 8px;
		    transition: all 0.2s ease-out;
		}
	}

	&:hover {
		span:before {
			transform: scale(.8) translate(-3px, 0) rotate(42deg);		
    	}
	}
  &.mute {
    span:before {
			transform: scale(.5) translate(-15px, 0) rotate(36deg);
      opacity: 0;
    }
  }
}

.button {
	&:hover {
		background-color: lighten($green, 10%);
	}
	transition: all .2s;
	background-color: $green;
	border: none;
	font-family: $stack-content;
	padding: 15px 32px !important;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	font-size: 16px;
}

#btnStartAgain {
	margin: 0 auto;
	width: 50px;
	cursor: pointer;
}